<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="header/header">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>速记</title>
    <link href="resources/plugin/summer/summernote.css" th:href="@{/resources/plugin/summer/summernote.css}" rel="stylesheet">
    <script src="../../static/resources/js/qnote.js"
            th:src="@{/resources/js/qnote.js}"></script>
    <script src="resources/plugin/summer/summernote.js" th:src="@{/resources/plugin/summer/summernote.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div id="summernote" th:utext="${content}"></div>
    <div id="popover"></div>
    <div id="preview" class="hidden"></div>
    <form id="noteForm" action="" th:action="@{saveNote}" method="post">
        <input type="hidden" name="content"/>
        <input type="hidden" name="title"/>
        <input type="hidden" name="pid" th:if="${properties != null}" th:value="${properties.id}"/>
    </form>
</div>
</body>
</html>
