<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="header/header">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>速记表</title>
    <link rel="stylesheet" href="../../static/resources/css/list.css"
          th:href="@{/resources/css/list.css}"/>
    <script src="../../static/resources/js/list.js"
        th:src="@{/resources/js/list.js}"></script>
</head>

<body>
<div layout:fragment="content" class="container">
    <ol class="justify">
        <li class="list border" th:each="properties : ${list}">
            <span class="repeat" th:data-target="${properties.id}">
                <a href="#"
                       th:href="@{/qnote/view/{username}/{url}(url=${properties.id},username=${session.SPRING_SECURITY_CONTEXT.authentication.principal.username})}">
                    <div class="text" th:text="${properties.note.title}"></div>
                </a>
                <div class="text-right p-0">
                    <span class="p-left-right-10" th:text="${properties.createtime}"></span>
                    <a href="#" name="delete"><span class="p-left-right-10 glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </div>
            </span>
        </li>
        <li class="list border" style="visibility: hidden;">
            <a class="p-0" href="#">
                <div class="text"></div>
            </a>
            <div class="text-right"></div>
        </li>
        <li class="list border" style="visibility: hidden;">
            <a class="p-0" href="#">
                <div class="text"></div>
            </a>
            <div class="text-right"></div>
        </li>
    </ol>
</div>
</body>
</html>
