<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="header/header">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${properties.note.title}"></title>
    <script src="../../static/resources/js/view.js"
        th:src="@{/resources/js/view.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div id="content_view" th:include="@{/views/{path}/{html}(path=${path},html=${properties.note.content})}">
    </div>
    <form id="toeditForm" method="post" action="" th:action="@{/qnote/edit}">
        <input type="hidden" name="pid" th:value="${properties.id}"/>
        <input type="hidden" name="content"/>
    </form>
</div>
</body>
</html>
