<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>登录</title>

    <script src="../../static/resources/plugin/jquery/jquery.min.js"
            th:src="@{/resources/plugin/jquery/jquery.min.js}"></script>
    <script src="../../static/resources/plugin/bootstrap.min.js"
            th:src="@{/resources/plugin/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/resources/plugin/bootstrap.min.css"
          th:href="@{/resources/plugin/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/resources/plugin/bootstrap-theme.min.css"
          th:href="@{/resources/plugin/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/resources/css/global.css" th:href="@{/resources/css/global.css}"/>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../static/resources/plugin/ie8-responsive-file-warning.js"
            th:src="@{/resources/plugin/ie8-responsive-file-warning.js}"></script>
    <![endif]-->
    <script src="../../static/resources/plugin/ie-emulation-modes-warning.js"
            th:src="@{/resources/plugin/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/resources/plugin/html5shiv.min.js"
            th:src="@{/resources/plugin/html5shiv.min.js}"></script>
    <script src="../../static/resources/plugin/respond.min.js" th:src="@{/resources/plugin/respond.min.js}"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/resources/plugin/ie10-viewport-bug-workaround.js"
            th:src="@{/resources/plugin/ie10-viewport-bug-workaround.js}"></script>
</head>

<body>
</body>
</html>
